server:
  port: 0

spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/ewm_main_db
    username: ewm_user
    password: ewm_password

logging:
  level:
    root: INFO
    ru.practicum.explorewithme.user: DEBUG
    "org.springframework.orm.jpa": INFO
    "org.springframework.transaction": INFO
    "org.hibernate.SQL": DEBUG

